<!DOCTYPE html>
<html lang="en">
<head>
	<title>统一认证 数字国戏</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" th:href="@{${#themes.code('DHD.vendor.bootstrap.css.bootstrap')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" th:href="@{${#themes.code('DHD.font.fontawesome.css.fontawesome')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" th:href="@{${#themes.code('DHD.vendor.animate.animate')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" th:href="@{${#themes.code('DHD.vendor.csshamburgers.hamburgers')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" th:href="@{${#themes.code('DHD.vendor.select2.select2')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" th:href="@{${#themes.code('DHD.css.util')}}">
	<link rel="stylesheet" th:href="@{${#themes.code('DHD.css.main')}}">
<!--===============================================================================================-->
</head>
<body id="cas">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img th:src="@{${#themes.code('DHD.img.logo')}}" alt="数字国戏">
				</div>

				<form class="login100-form validate-form" id="fm1" method="post" action="login" th:object="${credential}">
					<span class="login100-form-title">
						数字国戏<br><span class="txt1">统一身份认证</span>
					</span>

					<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
        	</div>

					<div class="wrap-input100 validate-input" data-validate = "输入用户名">
						<input class="input100" type="text" name="username" id="username" placeholder="学工号/手机号">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input input-group" data-validate = "请输入密码">
							<input type="password" name="password" class="input100" placeholder="密码" aria-label="密码">
							<span class="focus-input100"></span>
							<div class="input-group-append send_otp_btn">
								<a href="#" id="send_otp">随机密码</a>
							</div>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
          <input type="hidden" name="_eventId" value="submit"/>
          <input type="hidden" name="geolocation"/>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" name="submit" type="submit">
							登录
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							忘记
						</span>
						<a class="txt2" href="#">
							用户名/密码?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="https://www.nacta.edu.cn/">
							中国戏曲学院
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script th:src="@{${#themes.code('DHD.js.jquery')}}"></script>
<!--===============================================================================================-->
	<script th:src="@{${#themes.code('DHD.js.popper')}}"></script>
	<script th:src="@{${#themes.code('DHD.js.bootstrap')}}"></script>
<!--===============================================================================================-->
	<script th:src="@{${#themes.code('DHD.js.select2')}}"></script>
<!--===============================================================================================-->
	<script th:src="@{${#themes.code('DHD.js.tilt')}}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})

		/*<![CDATA[*/
		var i = "One moment please..."
		var j = "\u767B\u5F55"
				/*]]>*/
				$(window).on('pageshow', function () {
						$(':submit').prop('disabled', false);
						$(':submit').attr('value', j);
				});
				$(document).ready(function () {
					$("#fm1").submit(function () {
						$(":submit").attr("disabled", true);
						$(":submit").attr("value", i);
						return true;
				});
		});
                
	</script>
<!--===============================================================================================-->
	<script th:src="@{${#themes.code('DHD.js.main')}}"></script>

</body>
</html>